:root {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #02182b;
  color: #edf7f6;
  max-width: 900px;
  margin-inline: auto;
}

p {
  line-height: 1.7;
}

/* Links styled as buttons */
.link-button {
  display: inline-block;
  color: #02182b;
  background-color: #edf7f6;
  border: 1px solid #edf7f6;
  border-radius: 5px;
  margin-top: 1em;
  padding: 0.5em 1.5em;
  width: 250px;
  text-decoration: none;

  transition: 0.3s ease;
}
.link-button:hover {
  color: #b5f8fe;
  background-color: #edf7f615;
  border: 1px solid #b5f8fe50;
  /* cursor: pointer; */
}

/* Styles for the header section */
header {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 20px;
}

#logo a {
  font-size: 1.3rem;
  font-weight: 700;
  color: #edf7f6;
  text-decoration: none;
}

/* Mobile navigation styles */
.header-nav {
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80%;
  position: absolute;
  top: -80%;
  left: 0;
  right: 0;
  transition: 0.5s ease-out;

  /* Background from https://css.glass */
  background: rgba(49, 57, 60, 0.2);
  border-radius: 0 0 16px 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.7px);
  -webkit-backdrop-filter: blur(12.7px);
  border: 1px solid rgba(49, 57, 60, 0.64);
}
.header-nav.open {
  opacity: 1;
  top: 0; /* Slide down to the top when open */
}
/* Styles for the X close icon */
.header-nav #close-menu {
  position: absolute;
  top: 17px;
  right: 17px;
}

/* Styles for the navigation list */
.header-nav ul {
  font-size: 2rem;
  list-style: none;
  line-height: 2;
}
.header-nav ul li a {
  padding-inline: 1em;
}
.header-nav a:is(:link, :visited, :active) {
  text-decoration: none;
  color: #edf7f6;
}
.header-nav a:hover {
  text-decoration: underline;
  color: #b5f8fe;
}
.header-nav a:is(:focus-visible) {
  outline: 2px solid #56ab91;
  border-radius: 2px;
}

/* Styles for the header buttons (might delete later) */
header button {
  /* background-color: #edf7f6; */
  background-color: transparent;
  padding: 5px 10px;
  outline: 0;
  border: 1px solid rgb(199, 199, 199);
  border-radius: 3px;
  cursor: pointer;
}
header button svg {
  width: 20px;
  height: 20px;
  /* color: #edf7f6; */
}
header button:hover {
  border: 1px solid #b5f8fe;
  background-color: transparent;
}
header button:focus {
  outline: 2px solid #56ab91;
  border-radius: 2px;
}

header button .nav-svg {
  fill: #edf7f6;
}
header button:hover .nav-svg {
  fill: #b5f8fe;
}

/* MAIN STYLES START */
main {
  padding-inline: 1em;
}

/* Hero section start */
.hero {
  padding-block: 3em;
}
main h1 {
  font-size: 2rem;
}
main h3 {
  margin-block: 1em;
  font-weight: 500;
}
/* Hero social icons */
.hero-icons {
  display: flex;
  align-items: center;
  gap: 32px;
  padding-block: 2em;
}
.hero-icons svg {
  height: 24px;
  width: 22px;
  fill: #edf7f6;
}

.hero-icons a:hover svg {
  fill: #b5f8fe;
}

/* About section start */
.about h2 {
  font-size: 1rem;
  margin-block: 1em;
}
.about > p:nth-child(3) {
  margin-top: 1em;
}
.about > p:nth-child(3) span {
  font-style: italic;
  font-size: 90%;
}
.about p a {
  color: inherit;
}
.about p a:hover {
  text-decoration: none;
}

/* Projects section start */
.projects {
  margin-top: 3em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
.projects div {
  padding: 1em;
  border: 1px solid #b5f8fe50;
  border-radius: 5px;
  background-color: #edf7f615;
}
.projects h2 {
  font-size: 1rem;
  margin-block: 1em;
  grid-column: 1 / -1;
}
.projects h3 a {
  color: #b5f8fe;
  text-decoration: none;
}
.projects h3 a:hover {
  text-decoration: underline;
}
.projects h3 {
  font-weight: 500;
  margin-top: 0;
}
.projects svg {
  display: inline-block;
  fill: #edf7f6;
  width: 14px;
  height: 14px;
  transition: 0.2s ease;
}
.projects a:hover svg {
  transform: translate(3px, -3px);
  fill: #b5f8fe;
}
.projects img {
  display: inline-block;
  width: 100%;
  border-radius: 5px;
  margin-top: 1em;
}
.projects .tech-stack {
  list-style: outside none;
  font-size: 0.8rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.4em;
  margin-top: 1em;
}
.projects .tech-stack li {
  color: #b5f8fe;
  border: 1px solid #b5f8fe50;
  border-radius: 3px;
  padding: 0.1em 0.3em;
}
/* Styles for project card*/
.project {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}
