* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #02182b;
}

/* Styles for the header section */
header {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 20px;
  /* background-color: beige; */
}

#logo span {
  font-size: 1.3rem;
  font-weight: 700;
  cursor: pointer;
  color: #edf7f6;
}

/* Mobile navigation styles */
.header-nav {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 80%;

  /* Background from https://css.glass */
  background: rgba(49, 57, 60, 0.2);
  border-radius: 0 0 16px 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.7px);
  -webkit-backdrop-filter: blur(12.7px);
  border: 1px solid rgba(49, 57, 60, 0.64);
}

/* Styles for the X close icon */
.header-nav #close-menu {
  position: absolute;
  top: 10px;
  right: 10px;
}

/* Styles for the navigation list */
.header-nav ul {
  font-size: 2rem;
  list-style: none;
  line-height: 2;
}
.header-nav ul li a {
  padding-inline: 1em;
}
.header-nav a:is(:link, :visited, :active) {
  text-decoration: none;
  color: #edf7f6;
}
.header-nav a:hover {
  text-decoration: underline;
  color: #b5f8fe;
}
.header-nav a:is(:focus-visible) {
  outline: 2px solid #56ab91;
  border-radius: 2px;
}

/* Styles for the header buttons (might delete later) */
header button {
  /* background-color: #edf7f6; */
  background-color: transparent;
  padding: 5px 10px;
  outline: 0;
  border: 1px solid rgb(199, 199, 199);
  border-radius: 3px;
  cursor: pointer;
}
header button svg {
  width: 20px;
  height: 20px;
  /* color: #edf7f6; */
}
header button:hover {
  border: 1px solid #b5f8fe;
  background-color: transparent;
}
header button:focus {
  outline: 2px solid #56ab91;
  border-radius: 2px;
}

header button .nav-svg {
  fill: #edf7f6;
}
header button:hover .nav-svg {
  fill: #b5f8fe;
}
